extends ./base.jade
block content
	div.mdl-card__media
	div.mdl-grid
		div.mdl-cell.mdl-cell--8-col
			
			div.mdl-card.mdl-color--white.mdl-shadow--2dp
				div.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
				div.mdl-card__title
					div.mdl-card__title-text Bookings coming up...
				div#date.mdl-card__supporting-text Date:
				div#loc.mdl-card__supporting-text Location:
				div#bookingmain.mdl-card__supporting-text Car:
				div.mdl-card__title
					div.mdl-card__title-text Last Booking was...
				div.mdl-card__supporting-text Date:
				div.mdl-card__supporting-text Location:
				div.mdl-card__supporting-text Car:
		div.mdl-cell.mdl-cell--4-col
			div.mdl-card.mdl-color--white.mdl-shadow--2dp
				div.mdl-card__title
					div.mdl-card__title-text Welcome Deanna!
				div.mdl-card__supporting-text Home bay:
				div.mdl-card__supporting-text Membership Plan:
				div.mdl-card__supporting-text Member Since:
				div.mdl-card__supporting-text # of Bookings:
				div.mdl-card__supporting-text Current Balance:
