extends ./base.jade
block content
	div.mdl-grid
		div.mdl-cell.mdl-cell--6-col 
			div.mdl-card.mdl-color--white Bookings coming up...
		div.mdl-cell.mdl-cell--4-col
			div.mdl-card.mdl-color--white Welcome 
