extends ./base.jade
block content
	if (locals.carbay)
		p Name #{carbay.name}
		ul
			each car in carbay.cars
				a(href='/car/#{car.regno}')
					li= car.name
				if (car.available)
					p Available
				else
					p Not available
	else
		p No homebay
	form(method='post', action='/carbays')
		div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
			input#search_string.mdl-textfield__input(name='search_string')
			label.mdl-textfield__label(for='search_string') Location
		div.mdl-card-actions.mdl-card--border
			input.mdl-button.mdl-js-button.mdl-button-primary(type='submit', name='search')
