extends ./base.jade
block content
	div.mdl-card
		div.mdl-card__title
			div.mdl-card__title-text Invoice #{invoice.month} #{invoice.year}
		div.mdl-card__supporting
			div.mdl-card__supporting-text The following are all the bookings consisted in the Invoice Id Number: #{invoice.invoiceno}.
		
