extends ./base.jade
block content
	div.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--4dp
		div.mdl-card__title
			div.mdl-card__title-text Edit Profile
		div#mediafillernew.mdl-card__media 
		div#bookinginfo.mdl-card__supporting-text Don't like your password? Got married and changed your surname? No worries at all!
			p You can change all your details here! All you have to do is fill out the field you would like to change the details of and press submit!
		form(id='profileEdit', method='post', action='/profile/edit')
			div.mdl-card__supporting-text
					
					//- div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					//- 	select(name="regnolist" form="carform")
					//- 		<option value="#{entry.regno}">m#{entry.regno}</option>
					//- 	//- input#nickname.mdl-textfield__input(name='Car', type='select')
					//- 	//- label.mdl-textfield__label(for='Car') Car

					div.mdl-textfield.mdl-textfield--floating-label.is-focused
						input#password.mdl-textfield__input(name='title')
						label.mdl-textfield__label(for='title') Title 
					p
					div.mdl-textfield.mdl-textfield--floating-label.is-focused
						input#password.mdl-textfield__input(name='firstname')
						label.mdl-textfield__label(for='firstname') First Name
					
					div.right-field.mdl-textfield.mdl-textfield--floating-label.is-focused
						input#password.mdl-textfield__input(name='lastname')
						label.mdl-textfield__label(for='lastname') Last Name 
					div#f.mdl-card__supporting-text To change password you must type in your old password and new password
					div.right-field.mdl-textfield.mdl-textfield--floating-label.is-focused
						input#password.mdl-textfield__input(name='oldpassword', type='password')
						label.mdl-textfield__label(for='oldpassword') Old Password
					div.mdl-textfield.mdl-textfield--floating-label.is-focused
						input#password.mdl-textfield__input(name='newpassword', type='password')
						label.mdl-textfield__label(for='newpassword') New Password 
						
				input.mdl-button.mdl-js-button.mdl-button-primary(type='submit')
