extends ./base.jade
block content
	div#invoicehis.mdl-card
		div.mdl-card__title
			div.mdl-card__title-text Profile
	p
	div.mdl-card
		div.mdl-card__title
				h2
					span.mdl-card__title-text Title: 
					span.mdl-card__title-text First Name: 
					span.mdl-card__title-text Last Name:
	p
	div.mdl-card
		div.mdl-card__title
				h2
					span.mdl-card__title-text Member Since:
					span.mdl-card__title-text Membership:
	p
	div.mdl-card
		div.mdl-card__title
				h2
					span.mdl-card__title-text Primary Color:
					span.mdl-card__title-text Secondary Color:
	p
	div.mdl-card
		div.mdl-card__title
				h2
					span.mdl-card__title-text User Name:
					span.mdl-card__title-text Passward
