#loginCard{
	margin : auto;
	margin-top: 50px;
}

body{
	background-color: #f5f5f5;
}

.mdl-layout__container{
	margin: 0 auto;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.mdl-grid {
    display: flex !important;
}

.mdl-card__title-text{
	
}

.mdl-card{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: auto;
}
