#loginCard{
	margin : auto;
	margin-top: 50px;
	width: 330px;
	padding: 2px;
	height: 266px;
}

body{
	background-color: #f5f5f5;
}

.mdl-layout__content{
	overflow: visible;
	margin-top: 15px;
}

.mdl-layout__container{
	margin: 0 auto;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}


.mdl-grid {
    display: flex !important;
}
#date{
	float: left;
	width: 45%;
}
#loc{
	float: right;
	width: 45%;
}
#bookingcard{
	overflow: visible;
}

#addbutton{
	position: absolute;
	top: -20px;
	right: 26px;
}

.mdl-card__supporting-text{
	padding-top: 5px;
}

.mdl-card{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: auto;
	height: 300px;
}
